<h1>{{ charity.charity.name }}</h1>

<img src="{{ charity.charity.logoAbsoluteUrl }}" alt="Charity-Logo" class="charityImg">

<p>{{ charity.charity.description }}</p>
<div class="potato item animated bounceInRight">
<a href="{{charity.charity.profilePageUrl}}" class="b f5 ph3 pv2 ba b--black grow pointer f6 dib ma2">Take a look at their JustGiving profile</a>
<a href="{{charity.charity.websiteUrl}}" class="b f5 ph3 pv2 ba b--black grow pointer f6 dib ma2">Or their own website</a>
<button ng-click="charity.saveCharity(charity.charity)" type="button" name="button" class="mb5 b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib ma2">Favourite this charity</button>
</div>
