<div class="row">
<h1>tasksIndex</h1>
<ul>
  <li class="col-sm-4 col-md-4 col-lg-4 task" ng-repeat="task in tasksIndex.available">
    <a ui-sref="tasksShow({ id: task._id })"><h1>{{ task.name }}</h1></a>
    <img class="taskImg" ng-src="{{ task.image }}" style="margin:auto;">
    <p>{{ task.description }}</p>
    <p>Location: {{ task.location }}</p>
    <p>Donation to be made: £{{ task.price}}</p>
  </li>
</ul>
</div>

<div class="row">
<h2>My Created Tasks</h2>
<ul>
  <li class="col-sm-4 col-md-4 col-lg-4 task" ng-repeat="task in tasksIndex.filtered">
    <a ui-sref="tasksShow({ id: task._id })"><h1>{{ task.name }}</h1></a>
    <img class="taskImg" ng-src="{{ task.image }}" style="margin:auto;">
    <p>{{ task.description }}</p>
    <p>Location: {{ task.location }}</p>
    <p>Donation to be made: £{{ task.price}}</p>
  </li>
</ul>
</div>
