<form ng-submit="tasksNew.create()" class="measure center">
  <h1>New Task/Job</h1>
  <div class="mt3">
    <label class="db fw6 lh-copy f6" for="name">Name</label>
    <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="text" name="name" id="name" ng-model="tasksNew.task.name" placeholder="Name">
  </div>
  <div class="mv3">
    <label class="db fw6 lh-copy f6" for="description">Description</label>
    <textarea id="description" name="description" class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" placeholder="Write description of task here"></textarea>
  </div>
  <div class="mv3">
    <label class="db fw6 lh-copy f6" for="location">Location</label>
    <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="text" name="location" id="location" ng-model="tasksNew.task.location" placeholder="e.g The Relay Building, 114 Whitechapel">
  </div>
  <div class="mv3">
    <label class="db fw6 lh-copy f6" for="price">Price</label>
    <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="text" name="price" id="price" ng-model="tasksNew.task.price" placeholder="e.g. 19.99$">
  </div>
  <div class="mv3">
    <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit" value="Add Task">
  </div>
</form>
