<!DOCTYPE html>
<html ng-app="thisApp">
<head>
  <base href="/">
  <meta charset="utf-8">
  <title>THISAPP</title>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>

<body ng-controller="MainCtrl as main">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="main.isNavCollapsed = !main.isNavCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" ui-sref="tasksIndex">Home/appname</a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="main.isNavCollapsed">
      <ul class="nav navbar-nav">
        <li><a ui-sref="tasksIndex">Tasks</a></li>
        <li><a ui-sref="tasksNew">Add a Task</a></li>
        <li><a ui-sref="login">Login</a></li>
        <li><a ui-sref="register">Register</a></li>
        <li><a ui-sref="charity">Charities</a></li>
        <li><a ui-sref="usersIndex">UserIndex</a></li>
        <li><a ng-click="main.logout()" href="#">Logout</a></li> <!-- function for logout -->

      </ul>
    </div>
  </nav>
  <main ui-view>
  </main>
</body>
</html>
