.taskImg {
  max-width: 250px;
  max-height: 130px;
  border-radius: 10px;
  margin: 0 auto;
  // border: 5px solid $gold;
}


.google-map{
  height: 400px;
  // border-radius: 10px;
  // border: 5px solid $gold;
}

// .charityLogo:hover {
//   box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
// }

.charityImg {
  max-width: 200px;
  max-height: 150px;
  border-radius: 10px;
  margin: 0 auto;
}
.charity-inner{
  width: 100%;
  height: 80%;
  text-align: center;
  // border: 5px solid $gold;
  &:hover{
    background-image:url('https://media.giphy.com/media/uhyTFbEwoyDio/giphy.gif');
    background-size: cover;
    // background-color: rgba(255,255,255,0.7)
    // animation-duration: ms;
    // animation-name: fadeIn;
  }
}
