body{
  background-image:url('https://www.xmple.com/wallpaper/blue-linear-gradient-green-2160x3840-c2-00bfff-90ee90-a-60-f-14.svg');
  background-size: cover;
  // background: -webkit-linear-gradient($lightGrey, #A9E7E8);
}
main{
  color: black;
  text-align: center;
}
.content{
  width: 80%;
  margin: 0 auto;
  border: 2px solid $orange;
  border-radius: 10px;
}

.task{
  color: black;
  list-style: none;
  border: 1px solid $liver;
  height: 400px;
  margin: 2px;
  padding: 5px;

  &:hover{
    background-color: rgba(255,255,255,0.3);
  }
}
