body{
  background-image:url('https://www.xmple.com/wallpaper/blue-linear-gradient-green-2160x3840-c2-00bfff-90ee90-a-60-f-14.svg');
  background-size: cover;
}
main{
  text-align: center;
}
.content{
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}
.task{
  height: 400px;
  width: 50%;
}
.task-inner{
  width: 100%;
  height: 100%;
  border: 5px solid #58dcbb;
  &:hover{
    background-image:url('http://www.ispi.org/images/volunteer.png');
    // background-color: rgba(255,255,255,0.7)
  }
}
