html, body {

  background-color: white;

  min-height: 100%;
}

header{
  background: linear-gradient(to bottom, $cherry, #e5447c);
}
main{
  text-align: center;
}
.content{
  width: 90%;
  padding: 10px;
  margin: 0 auto;
}
.index-wrap{
  background: $gold; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, $lightGrey, $lightBlue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom,$lightGrey, $lightBlue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom,$lightGrey, $lightBlue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, $lightGrey, $lightBlue); /* Standard syntax */
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid $cherry;
  padding: 40px;
  margin: 0 auto;
}
.task{
  height: 400px;
  max-width: 100%;

}
.task-inner, .charity-inner {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-top-left-radius: 0;
  // border: 5px solid $gold;
  text-align: center;
  margin: 0 auto;
  position: relative;
  &:hover{
    box-shadow: 3px 3px 5px $liver;
    // text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    animation-duration: 800ms;
    animation-name: fadeIn;
    // color: white;


  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.caption{
  position: absolute;
  background-color: $cherry;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 20%;
  padding: 20px;
  border-bottom-left-radius: 10px;
  // border-bottom-right-radius: 10px;
}
form{
  input, textarea{
    color: black;
    border-color: $cherry !important;
    border-width: 1px !important;
  }
}

.tabsdemoDynamicHeight md-content {
  background: $gold; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, $lightGrey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom,$lightGrey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom,$lightGrey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, $lightGrey)!important; /* Standard syntax */ }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: $gold; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(top, $lightGrey, $lightBlue); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom,$lightGrey, $lightBlue); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom,$lightGrey, $lightBlue); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom, $lightGrey, $lightBlue)!important; /* Standard syntax */
       }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

md-content.md-default-theme {
  background-color: rgba(255,255,255,0) !important;
}
