// Import all of your scss files here
html, body {
  font-family: 'Roboto', sans-serif;
}
body{
background: white;
padding: 30px;
main{
  padding: 20px;
}
a{
  text-decoration: none;
}
}
.task {
  list-style: none;
  height: 400px;
}

.taskImg {
  max-width: 200px;
  border-radius: 10px;
}

.pl {
  font-size: 12px;
}
