// Import all of your scss files here
body{
background: white;
a{
  text-decoration: none;
}
}
.task {
  list-style: none;
  height: 400px;
}

.taskImg {
  max-width: 200px;
}

.pl {
  font-size: 12px;
}
