html, body {
  font-family: 'Quicksand', sans-serif;
}
#logo{
  font-family: 'Baloo', cursive;
  font-size: 30px;
  &:hover{
    // -webkit-animation-name: spin;
    // -webkit-animation-duration: 4000ms;
    -webkit-animation:spin 4s linear infinite;
    animation-duration: 800ms;
    animation-name: spin;
    // -webkit-animation: spin 5s infinite;
  }
}
li{
  list-style: none;
}
.msg{
  color: black;
}
.apply-btn {
  color: white !important;
  border:1px solid white !important;
}
.logo{
  font-family: 'Baloo', cursive;
  // text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  &:hover{
    // -webkit-animation-name: spin;
    // -webkit-animation-duration: 4000ms;
    -webkit-animation:spin 4s linear infinite;
    animation-duration: 800ms;
    animation-name: spin;
    // -webkit-animation: spin 5s infinite;
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(360deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

a, button{
  text-decoration: none;
  font-size: 0.6em;
  color: $cherry;
  // border-color: $cherry !important;
  font-weight: normal;
  background: transparent;
  // border: 1px solid $cherry;
}

.pl {
  font-size: 12px;
}
.nav-link{
  font-size: 1em;
  padding: 20px;
  &:hover{
    background: rgba(255,255,255,0.2);
  }
}
.assigned {
  color: green;
}
.requested {
  color: red;
}
